.content {
    margin:0px auto;
    padding-bottom: 50px;
    text-align: center;
}

.item {
    padding-bottom: 30px;
    padding-top: 20px;
}

.form-row-content {
    margin:0px auto;
    text-align: center;
}

.item-button {
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-top: 20px;
}

.next-button {
    padding-left: 30px;
    padding-right: 30px;
}

.existing-items {
    height: 300px;
    overflow-y: scroll;
    display: block;
}

.shopping-list-table {
    border: 1px solid lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
}

.shopping-list-item {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}