.search-header {
    background-color: #EBEBEB;
    height: 30vh;
    margin-bottom: 10vh;
    width: 100%;
}

.search-header-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.search-box {
    background-color: #FFFFFF;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    bottom: -11vh;
    border-radius: 5px;
    overflow: hidden;
    box-shadow:
            0 2.3px 1.9px rgba(0, 0, 0, 0.01),
            0 5.4px 4.3px rgba(0, 0, 0, 0.015),
            0 9.7px 7.7px rgba(0, 0, 0, 0.018),
            0 16.1px 12.8px rgba(0, 0, 0, 0.022),
            0 26.5px 21.2px rgba(0, 0, 0, 0.025),
            0 46.2px 37px rgba(0, 0, 0, 0.03),
            0 100px 80px rgba(0, 0, 0, 0.04)
    ;
}

.search-box input, .search-box input:focus {
    box-shadow: none;
    border-width: 1px;
    border-color: var(--primary)
}